<ion-view view-title="{{navTitle}}" style="direction:rtl" cache-view="false" hide-back-button="true">

	<div class="bar bar-footer" ng-if="ActiveTab == 2 && user_type != 2">
		<div style="width:30px; float:left;" ng-click="imageOptions()">
			<i class="ion-camera" style="font-size:30px;"></i>
		</div>
	  <input type="text" style="direction:rtl; width:80%; background-color:#eeeeee" id="chatInput"  focusMe autofocus placeholder="רשום הודעה..."   ng-model="fields.chatbox" ng-keypress="enterPress($event)">
	  <img src="img/chat/chat_arrow.png" style="width:7%; margin-left:10px; margin-top:1px;" ng-click="sendChat(0)" /> 
    </div>
	
    
    <div class="bar bar-footer" style="padding:0px !important; margin:0px !important; " ng-if="ActiveTab == 0">
		<div class="tekenFooter">
        	זמן תקן : {{deliveryTime}} דקות
        </div>
    </div>
	
  <ion-content class="has-footer" style="" overflow-scroll="false">

  	
 
   <div style="width:100%" align="center">
        <div class="padding" style="width:98%;  ">
            <div class="button-bar" style="direction:ltr !important; margin-top:10px;">
                <a class="button" ng-class="{'tabsActive': ActiveTab == 2 , 'tabsNotActive': ActiveTab != 2 }"  ng-click="setActiveTab(2)">צ'ט</a>
                <a class="button" ng-if="user_type == 2"   ng-class="{'tabsActive': ActiveTab == 4 , 'tabsNotActive': ActiveTab !=  4 }"  ng-click="setActiveTab(4)">לקוח פרטי</a>
                <a class="button" ng-class="{'tabsActive': ActiveTab == 1 , 'tabsNotActive': ActiveTab !=  1 }"  ng-click="setActiveTab(1)">משלוחים</a>
                <a class="button" ng-if="user_type == 0" ng-class="{'tabsActive': ActiveTab == 0 , 'tabsNotActive': ActiveTab != 0 }"  ng-click="setActiveTab(0)">הזמן</a>
                <a class="button" ng-if="user_type == 3"  ng-class="{'tabsActive': ActiveTab == 3 , 'tabsNotActive': ActiveTab != 3 }"  ng-click="setActiveTab(3)">הזמן משלוח</a>
            </div>
        </div>

		<div ng-if="ActiveTab == 0">
			<h4>הזמנת משלוח</h4>	
            <div class="loginForm" align="center">
                <div style="width:95%">
                    <div class="inputRowGrey">
                        <input type="text" placeholder="הכנס כתובת למשלוח" ng-model="fields.address"  g-places-autocomplete force-selection="true" options="autocompleteOptions">
                    </div>
                    <div class="inputRowGrey">
                        <input type="tel" placeholder="הכנס מספר טלפון" ng-model="fields.phone"  >
                    </div>
                </div>
          	</div>
          
            <div style="width:100%" align="center">
                    <div class="BlueButton" style="width:95%;" ng-click="addDelivery()" >
                        אשר
                    </div>
            </div>
			<!--<div class="list">
			  <label class="item item-input">
				<input type="text" ng-model="fields.address" style="direction:rtl;" g-places-autocomplete force-selection="true" options="autocompleteOptions"  placeholder="הכנס כתובת למשלוח">
			  </label>
			</div>			
			<div class="padding">
				<button class="button button-block button-positive" ng-click="addDelivery()">אשר</button>
			  </div>			
		</div>-->
		
		</div>
		<div ng-if="ActiveTab == 1">

		
        <div class="" style="width:98%;  ">
            <div class="button-bar" style="direction:ltr !important; margin-top:10px;">
                <a class="button" ng-class="{'tabsActive': DeliveryStatusTab == 1 , 'tabsNotActive': DeliveryStatusTab !=  1 }"  ng-click="changeTabDelivery(1)">משלוחים שהסתיימו</a>			
                <a class="button" ng-class="{'tabsActive': DeliveryStatusTab == 0 , 'tabsNotActive': DeliveryStatusTab != 0 }"  ng-click="changeTabDelivery(0)">משלוחים פתוחים</a>
            </div>
        </div>
		
		
			
			<div class="restList">
				<div class="restList" ng-repeat="item in DeliverysArray | filter: filterDelivery">
                	<div class="listImg" align="center">
                    	<div style="width:70%">
                          <img ng-if="item.supplierData[0].image" src="{{host}}/{{item.supplierData[0].image}}" style="width:100%;">
                          <img ng-if="!item.supplierData[0].image" src="img/empty_logo.png" style="width:100%;">
                        </div>
    				</div>
	
                      
                          <!-- regular delivery -->
                         <div ng-if="item.type == 0" style="text-align:right;">
                              <h2 class="regularAdress">{{item.address}}</h2>
							  <h2 ng-if="user_type == 0 || user_type == 2" class="regularAdress">סטטוס שליח: {{deliveryStatus(item.status)}}</h2>
                              <div class="regularTime">
                              	<div class="regularTimeTab">
                                  <p >שעת הזמנה : {{GetTime(item.date)}}</p>
                                </div>
                                <div class="regularTimeTab">			  
                                  <p ng-if="item.time">הגעת שליח : {{item.time}}</p>
								   <p ng-if="!item.time">הגעת שליח : ------</p>
                                </div>
                                <div class="regularTimeTab">			  
                                  <p ng-if="item.estimated_time">אצל הלקוח : {{item.estimated_time}}</p>
								  <p ng-if="!item.estimated_time">אצל הלקוח : ------</p>
                                </div>
                                <!--<div class="regularTimeTab">	
                                  <p ng-if="item.status > 0">שליח : {{item.deliveryData[0].name}}</p>
                                </div>-->
                              </div>
                              
                              <div ng-if="user_type == '2' && item.status == '0' && !item.time">
                              	<div class="addTimeButton" ng-click="openTimePopup($index,item.index)">
                                	 הזנת שעת משלוח
                                </div>

                              </div>
                         </div>
						 
							<!-- private custumer delivery -->	 
							<div class="listInfo"ng-if="item.type == 1" style="text-align:right;">
    
	
							  <p>שם הלקוח: {{item.supplierData[0].name}}</p>
							  <p>טלפון: {{item.supplierData[0].phone}}</p>
							  <p>כתובת: {{item.supplierData[0].address}}</p>
							  <p>עיר: {{item.supplierData[0].city}}</p>
							  <p>מספר בית: {{item.supplierData[0].house_number}}</p>
							  <p>קומה: {{item.supplierData[0].floor}}</p>
							  <p>דירה: {{item.supplierData[0].apartment}}</p>
							  <p>שעת ההזמנה: {{GetTime(item.date)}}</p>
							  <p>שעת אספקה: {{item.time}}</p>
                                <p>פרטי ההזמנה: {{item.details}}</p>
                                <p>הערות: {{item.remarks}}</p>
                                <p>מחיר: {{item.price}}</p>
                               
								
								<div ng-if="item.private_delivery_status == 1">
                                    <button ng-click="cancelDelivery($index,item.index)" class="button icon-left ion-android-cancel button-positive">בטל</button>					
                                    <button ng-click="confirmPrivateDelivery($index,item.index)" class="button icon-left ion-checkmark-round button-positive">הזמן עכשיו</button>
   
								</div>
	
								  <div ng-if="item.private_delivery_status == 3  && user_type == 1" style="width:100%; "  style="float:left;" ng-click="updateDeliveryStatus($index,item.index,item.status)">
										<div ng-if="item.status == 1" class="addTimeButton" >קיבלתי</div>							  
										<div ng-if="item.status == 2" class="addTimeButton" >בטיפול</div>		
										<div ng-if="item.status == 3" class="addTimeButton" >נמסר</div>	
								  </div>	
								
								
                         
						   </div>

						   
				<div class="greyLine"></div>				
				  		
				</div>
                
			</div>
            
		</div>
		
		</div>
        
        <div ng-if="ActiveTab == 2" style="margin-bottom:20px !important;">
        	בקרוב הצט...
        </div>
		<div ng-if="ActiveTab == 3" style="margin-bottom:20px !important;">
		
			<!--  admin messages -->
			
			
			<div  ng-if="user_type == 2">
			
			
				<div class="list">

					<div class="item item-thumbnail-right" ng-repeat="item in AdminMessagesArray" ui-sref="app.chat({ItemId: item.info[0].index})">
					  <img ng-if="item.info[0].image" src="{{host}}/{{item.info[0].image}}">
					  <img ng-if="!item.info[0].image" src="img/empty_logo.png">
					  <h2>{{item.info[0].name}}</h2>
					</div>
				</div>
			</div>
			
			
			<!-- regular users chat -->
			
			<div ng-if="user_type != 2">
			
			<div class="card" ng-repeat="messages in chatArray">
			  <div class="item item-text-wrap">
				<div ng-if="messages.isImage == 0">{{messages.text}}</div>
				<div ng-if="messages.isImage == 1">
					<img src="{{host}}/{{messages.text}}" style="width:100px; height:100px;">
				</div>
			  </div>
			</div>			
				
				
				
				
				<div  ng-repeat="messages in chatArray" class="mainChat"  style="">
					<div align="center" ng-class = "messages.userid == user_local_storage ? 'chatImg' : 'chatImg1'">
						<img src="{{messages.userimage}}">
					</div>
					<div  ng-class = "messages.userid == user_local_storage ? 'chatText' : 'chatText1'">
						<!--<h2>{{messages.username}}</h2>-->
						<div style="margin-top:-8px;">
							<img ng-if = "messages.userid == user_local_storage" src="img/chat/left_arrow.png" style="width:5%; margin-left:3px; position:absolute; margin-top:13px; float:left; height:32px;" />
							
							<div style="direction:rtl;" ng-class = "messages.userid == user_local_storage ? 'chatBubble1' : 'chatBubble2'" >
							<div ng-if="messages.isImage == 0">{{messages.text}}</div>
							<div ng-if="messages.isImage == 1">
								<img src="{{host}}/{{messages.text}}" style="width:100px; height:100px;">
							</div>
								<p class="timeChat">{{messages.time}}
									<img src="img/chat/eye.png" style="width:20px; height:10px;" />
								</p>
							</div>
						   <img ng-if = "messages.userid != user_local_storage" src="img/chat/right_arrow.png" style="width:5%; margin-left:-6px; position:absolute; margin-top:13px; float:right; height:32px;" />
						</div>
					</div>
				</div>

			</div>
			
			

			
			
			
		</div>
		
	 <div ng-if="ActiveTab == 3" style="margin-bottom:20px !important;">
	 
		<h4>הזמנת משלוח</h4>
		
		<div class="list">

		  <label class="item item-input">
			<textarea placeholder="פרטי ההזמנה" ng-model="orderfields.details"></textarea>
		  </label>

		  <label class="item item-input">
			<textarea placeholder="הערות" ng-model="orderfields.desc"></textarea>
		  </label>

  
		</div>
		
		
		<button class="button button-block button-balanced">
		  שינוי פרטי לקוח
		</button>
		
		<button class="button button-block button-positive" ng-click="sendDelivery()">
		  שליחה
		</button>

	 
	 </div>


	<!-- לקוח פרטי -->
	 <div ng-if="ActiveTab == 4" style="margin-bottom:20px !important;">
	 
		<div class="list">

			<div ng-repeat="item in DeliverysArray" class="item item-thumbnail-right" >
			  <img ng-if="item.supplierData[0].image" src="{{host}}/{{item.supplierData[0].image}}">
				<img ng-if="!item.supplierData[0].image" src="img/empty_logo.png">
			  
			  <p>שם הלקוח: {{item.supplierData[0].name}}</p>
			  <p>טלפון: {{item.supplierData[0].phone}}</p>
			  <p>כתובת: {{item.supplierData[0].address}}</p>
			  <p>עיר: {{item.supplierData[0].city}}</p>
			  <p>מספר בית: {{item.supplierData[0].house_number}}</p>
			  <p>קומה: {{item.supplierData[0].floor}}</p>
			  <p>דירה: {{item.supplierData[0].apartment}}</p>
			  <p>שעת ההזמנה: {{GetTime(item.date)}}</p>
			  
			  <!-- private custumer delivery -->
			  <div >
				
				<p>פרטי ההזמנה: {{item.details}}</p>
				<p>הערות: {{item.remarks}}</p>
				
				<div ng-if="item.private_delivery_status == 3">
					  <div  style="width:100%; "  style="float:left;" ng-click="updateDeliveryStatus($index,item.index,item.status)">
							<div ng-if="item.status == 1" class="addTimeButton" >התקבל</div>							  
							<div ng-if="item.status == 2" class="addTimeButton" >בטיפול</div>		
							<div ng-if="item.status == 3" class="addTimeButton" >נמסר</div>	
					  </div>
				</div>

				<div ng-if="item.private_delivery_status == 0">
					<button class="button button-full button-positive" ng-click="privateCustumerPopup($index,item.index,item.company_id)">שליחת פרטים</button>
				</div>
				<div ng-if="item.private_delivery_status == 2">
					<div class="addTimeButton" ng-click="selectPrivateDeliveryman($index,item.index)">
						 בחירת שליח
					</div>
				</div>				
			  </div>


			  
			</div>
		</div>

	 
	 </div>



	 
   
   </div>
  
  </ion-content>
</ion-view>
