<ion-view style="background-color:white;">
        <button class="button button-clear orderAddedCloseButton" ng-click="closeDeliverymanModal()">
            <img src="img/close.png" style="width:25px">
        </button>
		
		<div>
		
			<div class="list">


                              
			  
			  <label class="item item-input item-select" style="margin-top:10px; background-color:transparent !important; margin-right:20px; border:none !important; height:50px;">
				<div class="input-label">
				  
				</div>
				<select ng-model="deliveryfields.deliveryman" style="background-color:transparent !important; ;">
				  <option value="" selected>יש לבחור שליח</option>
				  <option value="{{item.index}}" ng-repeat="item in deliverymanJson">{{item.name}}</option>
				</select>
			  </label>
			 

			</div>
		  <div style="width:100%;" align="center">
              <div class="padding" style="width:95%">
                <button ng-if="deliveryPopupType == '0'" class="button button-block button-positive" style="background-color:#022850; border-radius:none !important" ng-click="updateDeliveryman()">שמירה</button>
                <button ng-if="deliveryPopupType == '1'" class="button button-block button-positive" style="background-color:#022850; border-radius:none !important" ng-click="changeDeliveryman()">שמירה</button>
              </div>
		 </div>
	  

		</div>

</ion-view>
