<ion-view view-title="בורנר ראנץ׳" style="direction:rtl" cache-view="false" hide-back-button="true">
    <ion-nav-buttons side="left">
        <div ng-show="user_type == '3'" ng-click="showInformationPopup()" class="item-icon-left" href="#" style="text-decoration:none; width:40px; margin:0px; margin-top:-3px; padding:0px; margin-left:3px; ">
        </div>
    </ion-nav-buttons>
    <ion-content class="has-header has-footer" style="background-color:#f7f7f7" overflow-scroll="false">
        <div class="top_button_bar" style="width:100%" align="center">
            <div class="bar_top_menu">
                <div class="button-bar" style="direction:ltr !important; margin-top:10px;">
                    <a class="button tabsNotActive" style="font-size:13px">צ׳ט</a>
                    <a class="button tabsActive" style="font-size:15px">שליחים</a>
                    <a class="button tabsNotActive" style="font-size:15px">הזמן</a>
                </div>
            </div>
        </div>
        <div class="order_info">
            <img src="img/burger.png"/>
            <div class="details" style="width:100%;">
                <div class="address" style="margin-right: 10px">
                    <span> רחוב: מוריה 22, חיפה</span>
                </div>
                <div class="times">
                    <div>
                        <span>שעת הזמנה</span>
                        <span>12:35</span>
                    </div> 
                    <div>
                        <span>שעת קבלה</span>
                        <span>13:45</span>
                    </div>
                    <div>
                        <span>אצל הלקוח</span>
                        <span>14.45</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>