<ion-view view-title="" hide-nav-bar="true" cache-view="false">
  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">שם משתמש</span>
          <input type="text" ng-model="loginfields.username">
        </label>
        <label class="item item-input">
          <span class="input-label">סיסמה</span>
          <input type="password" ng-model="loginfields.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="doLogin()">התחברות</button>
        </label>
      </div>
  </ion-content>
</ion-view>
