/* tabs  AppColor #022850*/

.tabsDiv
{
	overflow:hidden;
	width:100%;
	margin-top:0px;
	position:relative;
	padding:10px;
}

.tabsActive
{
	float:right;
	width:50%;
	font-size:16px;
	color:white;
	text-align:center;
	padding:0 10px;
	height: 35px !important;
	min-height: 35px !important;
	line-height: 30px !important;
	border-bottom:1px solid #900;
	background-color:#022850;
}

.tabsNotActive
{
	float:right;
	width:50%;
	font-size:16px;
	color:#022850;
	border:1px solid #022850;
	text-align:center;
	padding:10px;
	background-color:transparent;
	height: 35px !important;
	min-height: 35px !important;
	line-height: 30px !important;
}
		
.mainChat
{
	overflow:hidden;
	width:100%;
	
}

.chatImg
{
	float:left;
	width:20%;
}

.chatImg img
{
	margin-top:15px;
	width:70%;
	border-radius:60px;
}

.chatImg1
{
	float:right;
	width:20%;
}

.chatImg1 img
{
	margin-top:15px;
	width:70%;
	border-radius:60px;
}

.chatText
{
	float:right;
	width:75%;
	margin-right:4%;
	margin-top:20px;
}

.chatText1
{
	float:left;
	width:75%;
	margin-left:4%;
	margin-top:20px;
}

.chatBubble1
{
	background-color:#3cbeef;
	border-radius:5px;
	margin-top:5px;
	padding:5px 5px 0px 10px;
	min-height:30px;
	color:white;
	float:right;
	width:95%;
}

.chatBubble2
{
	background-color:#3ce2ff;
	border-radius:5px;
	margin-top:5px;
	padding:5px 5px 0px 10px;
	min-height:30px;
	color:white;
	float:left;
	width:95%;
}

.timeChat
{
	text-align:right;
	padding-right:3px;
	color:white;
}
		
.custom-popup.popup-container .popup {
  width:90%;
}		

.popup-title {
	direction:rtl;
}


/* Login Page */

.bckImg
{
	position:absolute;
	opacity:0.6;
	top:0px;
	margin-top:0px;
	z-index:-1;
}

.LoginLogo div
{
	width:100%;
	padding-top:70px;
	position:relative;
}

.inputRow
{
	border:1px solid #022850;
	background-color:transparent;
	border-radius:5px;
	text-align:right !important;
	padding-right:10px;
	padding-left:10px;
	margin-top:10px;
}

.inputRow input
{
	background-color:transparent;
	text-align:right !important;
	width:100%;
}

.BlueButton
{
	background-color:#022850;
	text-align:center;
	padding:3px;
	width:90%;
	margin-top:20px;
	border-radius:5px;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
	font-size:16px;
}

.ForgotPassword
{
	color:white;
	direction:rtl;
	width:30%;
	margin-top:10px;
}

/* Company Name*/

.inputRowGrey
{
	border:1px solid #CCC;
	background-color:transparent;
	border-radius:5px;
	text-align:right !important;
	padding-right:10px;
	padding-left:10px;
	margin-top:10px;
}

.inputRow input
{
	background-color:transparent;
	text-align:right !important;
	width:100%;
}


.tekenFooter
{
	width:100%;
	direction:rtl;
	background-color:#ffa401;
	font-size:17px;
	color:white;
	text-align:center;
	padding:0px;
	margin:0px;
	padding-top:10px;
}


.restList
{
	width:100%;
	overflow:hidden;
	margin-top:10px;
}

.listImg
{
	width:25%;
	float:right;
	margin-top:10px;
}

.listInfo
{
	width:75%;
	float:right;
	margin-top:10px;
}

.regularAdress
{
	text-align:right;
	font-size:17px;
	color:#9f9f9f;
}

.regularTime
{
	overflow:hidden;
	padding-right:2px;
	padding-left:2px;
}

.regularTimeTab
{
	float:right;
	width:33%;
	color:#9f9f9f;
	font-weight:bold;
	margin-top:-4px;
	text-align:center
}

.addTimeButton
{
	width:72%;
	text-align:center;
	padding:5px;
	margin-left:17px;
	border:1px solid #9f9f9f;
	padding-top:4px;
	padding-bottom:4px;
}

.addTimeButton1
{
	width:90%;
	text-align:center;
	padding:5px;
	border:1px solid #9f9f9f;
	padding-top:8px;
	padding-bottom:8px;
}

  .DeliveryStatus0 
  {
	  background-color:red;
  }

  .DeliveryStatus1
  {
	  background-color:lightblue;
  }
  
  .DeliveryStatus2
  {
	  background-color:lightgreen;
  }
  
  .DeliveryStatus3
  {
	  background-color:lightyellow;
  }  



/* REGISTER */

.title {
	position: relative;
	margin-top: 10px;
}

.title h2 {
	text-align: center;
	color: #012350;
	font-size: 20px;
}

.list .login {
	border:solid 1px #ababab;
	border-radius: 10px;
	width: 94%;
	height: 35px;
	margin-left: 3%;
	margin-top:5px;
	margin-bottom: 7px;
}

label.item {
	border:none;
	width:100%;
	height: 80px;
}

label.item .button.entrance {
	position: relative;
	margin-top: 0px;
	width: 100%;
	height: 35px !important;
	border-radius: 10px;
	background-color: #012350;
	color: #fff;
}

label.item .button.exit {
	position: relative;
	margin-top: -17px;
	width: 100%;
	height: 35px !important;
	border-radius: 10px;
	background-color: #ffa401;
	color: #fff;
	font-weight: 
}





/* COMPANY MAIN */ 



.top_menu {
	position: relative;
	margin-top: 0px;
}

.main_info {
	position: relative;
	border-top:solid 1px #ababab;
	width: 100%;
	height: 200px;	
}

.address h2.regularAdress {
	position: relative;
	margin-top:15px;
	margin-right: 25%;
	color: #012350;
	font-size: 15px;
	font-weight: bold;
}

.regularTime {
	position:relative;
	margin-top:0px;
	color: #012350;
	font-size: 15px;
}

.regularTimeTab {
	position: relative;
	margin-right: -28%;
	display: block;
	width: 100%;
	margin-top: 2px;
	color: #012350;
	font-size: 15px;
}

.regularTimeTab span {
	position: relative;
	display: inline-block;
	color: #012350;
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	
}

.regularTimeTab p {
	position: relative;
	display: inline-block;
	line-height: 0.1;
	color: #012350;
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	
}

.add_chat .addChat i {
	position: absolute;
	padding-left: 5px;
	top:55px;
	left: 12%;
	font-size: 40px;
	color: #ffa401; 
}

.deliveryInfo {
	text-align: right;
	float: right;
	margin-top: 8px;
	color: #5d5d5d;
}

.deliveryInfo div {
	text-align: right;
}

.deliveryInfo p {
	margin: 0px;
}


.deliveryInfo .deliveryName {
	font-weight: bold;
}


.logo img {
	border-radius: 100px;
	border: solid 1px #898989;
}

.deliveryInfo .addTimeButton1 {
	background-color: #fff;
	color: #ffa401; 
}

.deliveryInfo .addTimeButton2 {
	background-color: #fff;
	color: #ffa401; 
}

.deliveryInfo .addTimeButton3 {
	background-color: #ffa401;
	color: #fff; 
}

.deliveryInfo .addTimeButton4 {
	background-color: #ffa401;
	color: #fff; 
}



.deliveryInfo .deliveryButtons {
	margin-top: 10px;
}

.deliveryInfo .deliveryButtons button,
.deliveryInfo .deliveryButtons .btn_bar {
	display: inline-block;
}


.deliveryInfo .phone {
	font-size: 25px;
	color: #012350;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}

.deliveryInfo .phone span {
	margin-right: 5px;
	font-size: 15px;
	line-height: 25px;
	vertical-align: top;
}

.restListItem
{
	width:100%;
	overflow:hidden;
}

.main_info .delete {
	position: absolute;
	top:10px;
	left: 10px;
}

.main_info .delete i {
	font-size: 25px;
	color: #012350;
}

.col-40px {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 40px;
	-ms-flex: 0 0 40px;
	flex: 0 0 40px;
	max-width: 40px;
}

.col-50px {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 50px;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px;
	max-width: 50px;
}

.col-70px {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 70px;
	-moz-box-flex: 0;
	-moz-flex: 0 0 70px;
	-ms-flex: 0 0 70px;
	flex: 0 0 70px;
	max-width: 70px;
}

.order h4 {
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	font-size: 22px;
	color:#012350;
	margin-bottom: 0px;
	border-top:solid 1px #d1cfcf;
	width: 100%;
}

.list label {
	margin:10px !important;
	padding: 10px 10px 5px 5px;

}

.list label.text_message {
	position: relative;
	display: block;
	border:solid 1px #c0bcbd;
	border-radius: 10px;
	width: 95%;
	height: 100%;
}

.change {
	border-bottom: solid 1px #d9d5d6;
	padding-bottom: 10px;
}

.change .box1 {
	margin:-20px 10px 10px 10px !important;
	border: solid 1px #ffa401;
	width: 95%;
	height: 30px !important;
	min-height: 30px !important;
	border-radius: 8px;
	color: #ffa401;
	line-height: 20px;
}

.change .box2 span {
	color: #ffa401;
}

.change .box2 {
	margin:0px 10px 10px 10px !important;
	width: 95%;
	height: 30px !important;
	min-height: 30px !important;
	border-radius: 8px;
	color: #ffa401;
	line-height: 20px;
	background-color: #ffa401;
}

.change .box2 span {
	color: #fff;
}

.additional_info {
 	position: relative;
 	margin-top: 10px;
}

.additional_info span {
	position: relative;
	display: block;
	float: right;
	margin-right: 30px;
	color: #bdb7b9;
	width: 60%;
	font-size: 15px;
	text-align: right;
	line-height: 23px;
}

.decision {
	position: relative;
	width: 100%;
}

.decision .cancel {
	position: relative;
	display: inline-block;
	width: 46%;
	height: 30px !important;
	min-height: 30px !important;
	border-radius: 8px;
	line-height: 20px;
	background-color: #fff;
	border: solid 1px #ffa401;
	margin-left: 2%;
}

.decision .cancel span {
	color: #ffa401
}

.decision .order_now {
	position: relative;
	display: inline-block;
	width: 46%;
	height: 30px !important;
	min-height: 30px !important;
	border-radius: 8px;
	color: #ffa401;
	line-height: 20px;
	background-color: #ffa401;
	margin-right: 4%;
}

.decision .order_now span {
	color: #fff;
	line-height:25px;

}

.decision .button .icon::before, 
.decision .button.icon::before, 
.decision .button.icon-left::before, 
.decision .button.icon-right::before {
	line-height: 25px !important;
	font-size: 18px;
}

.order_now span i {
	position: relative;
	padding-bottom: 10px;
	height: 30px !important;
	min-height: 30px !important;
}


.info_i {
	position: absolute;
	top:10px;
	left: 15px;
	font-size: 25px;
	color: #948e90;
}

.bar.bar-stable p  {
	color: #948e90 !important;
	font-weight: bold;
}

.bar_top_menu .button-bar {
	width: 94%;
}

.bar_top_menu .button-bar a.button{
	position: relative;
	width: 90%;
	font-weight: normal;
	font-size: 15px;
	height: 30px !important;
	line-height: 30px !important;	
}








/* HTML_1 */

.top_button_bar .button_bar a.button  {
	font-size: 10px;
}

.top_button_bar {
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #e0d9db;
}

.order_info {
	position: absolute;
	margin-top: 13px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #e0d9db;
}

.order_info img {
	position: relative;
	display: inline-block;
	margin-top: 8px;
	margin-right: 5%;
	width: 21%;
	border-radius: 100px;
	float: right;
}

.order_info .address {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	width: 55%;
	margin-right: 5%;
	line-height: 1;
}

.order_info .address span {
	font-size: 14px;
	color: #a39d9e;
}

.order_info .time {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	width: 55%;
	margin-right: 5%;
	line-height: 1;
}

.order_info .time span {
	font-size: 14px;
	color: #a39d9e;
}

.order_info .name {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	width: 55%;
	margin-right: 5%;
	line-height: 1;
}

.order_info .name span {
	font-size: 14px;
	color: #a39d9e;
}

.order_info .phone_number {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	width: 55%;
	margin-right: 5%;
	line-height: 1;
}

.order_info .phone_number span {
	font-size: 14px;
	color: #a39d9e;
}

.order_info .details {
	width: 70%;
}

.order_info:last-child::after {
	clear: both;
}

.order_info .add_text {
	position: relative;
	margin-top: 8px;
	margin-right: 5%;
	padding: 5px;
	width: 90%;
	height: 100%;
	border: solid 1px #e0d9db;
	border-radius: 10px;
}

.order_info .add_text span {
	font-size: 14px;
	color: #a39d9e;
	line-height: 1.5; 
}

.order_info .chat_left {
	position: absolute;
	top:15%;
	left: 5%;
	color: #ffa401;
	font-size: 50px !important;
	line-height: 40px !important
}


/* HTML 2 */

.add_new_time_order {
	position: relative;
	margin-top: 15px;
	margin-right: 40%;
	padding: 0px 5px 1px 2px;
	width: 60%;
	height: 100%;
	border: solid 1px #e0d9db;
	border-radius: 7px;
}

.order_info .add_new_time_order span {
	font-size: 14px;
	color: #a39d9e;
	line-height: 1.5; 
}

.order_info button.add_new_time_order {
	position: absolute;
	top:45%;
	left: 5%;
	color: #fff;
	width: 20%;
	height: 23px !important;
	line-height: 5px !important;
	min-height: 23px !important;
	background-color: #ffa401;
	border-radius: 7px;
}

.order_info button.add_new_time_order span {
	font-size: 12px;
	color: #fff;
}

.order_info .chat_left_order  {
	position: absolute;
	top:5%;
	left: 5%;
	color: #ffa401;
	font-size: 70px !important;
	min-height: 70px !important;
}




/* HTML 3 */ 

.bar_menu_bottom {
	position: relative;
	margin-top: 10px;
}

.bar_menu_bottom .right {
	position: relative;
	margin-right: 0%;
	width: 46%;
	height: 30px !important;
	min-height: 30px !important;
	line-height: 20px;
	background-color: #e0dfd9;
	border-radius: 8px;
}

.bar_menu_bottom .right span {
	font-size: 14px;
	color: grey;
}

.bar_menu_bottom .left {
	position: relative;
	width: 46%;
	height: 30px !important;
	min-height: 30px !important;
	line-height: 20px;
	background-color: #fff;
	border-radius: 8px;
	margin-right: 1%;
	border: solid 1px #e0d9db;
}

.bar_menu_bottom .left span {
	font-size: 14px;
	color: grey;
}

.order_info .status {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	width: 55%;
	margin-right: 5%;
	line-height: 1;
}

.order_info .status span {
	font-size: 14px;
	color: #a39d9e;
	font-weight: bold;
}


/* HTML 4 */


.order_info .restaurant {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	width: 55%;
	margin-right: 5%;
	line-height: 1;
}

.order_info .restaurant span {
	font-size: 14px;
	color: #a39d9e;
}

.order_number .number {
	position: absolute;
	left: 14%;
	top: 31%;
	border-radius: 15px;
	width: 25px;
	height: 25px;
	background-color: #012350;
}

.order_number .number span {
	position: absolute;
	left: 8px;
	top: 2px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	
}

.order_number .arrow {
	position: absolute;
	left: 0%;
	top: 20%;
	border-radius: 10px;
	width: 10px;
	height: 10px;
}




/* HTML 5 */

.top_button_bar {
	width: 100%;
	padding-bottom: 10px;
	border-bottom: solid 1px #e0d9db;
}

.info_box {
	position: absolute;
	margin-top: 13px;
	width: 100%;
	padding-bottom: 15px;
	border-bottom: solid 1px #e0d9db;
}

.info_box img {
	position: relative;
	display: inline-block;
	float: right;
	margin-top: 5px;
	margin-right: 5%;
	width: 20%;
	border-radius: 100px;
}

.info_box .date {
	position: relative;
	display: inline-block;
	float: right;
	padding-top: 5px;
	width: 50%;
	float: right;
	margin-right: 5%;
}

.info_box .date span {
	font-size: 14px;
	color: #a39d9e;
	line-height: 1.5;
}

.info_box .address {
	position: relative;
	display: inline-block;
	float: right;
	width: 50%;
	margin-right: 5%;
}

.info_box .address span {
	font-size: 14px;
	color: #a39d9e;
	line-height: 1.5;
}

.info_box .price {
	position: relative;
	display: inline-block;
	float: right;
	width: 50%;
	margin-right: 5%;
}

.info_box .price span {
	font-size: 14px;
	color: #a39d9e;
	line-height: 1.5;
}

.info_box:last-child::after {
	clear: both;
}

button.arrow_left i {
	position: absolute;
	font-size: 5px !important;
	left: 0px;
	top:15px;
	color: #615e5f;
}




/* HTML 6 */

.hui {
	display: inline-block;
	width: 60%;
	height: 40px;

}




/* HTML 7 */ 


.add_user_info {
	position: relative;
	width: 100%
}

.add_user_info .list {
	margin-top: 5px !important;
}

.add_user_info .list .address {
	position: relative;
	width: 96%;
	margin-right: 2% !important;
	height: 35px;
	border: solid 1px #e0dfd9;
	color: red;
	font-size: 14px;
	border-radius: 7px;
}

.add_user_info .list .delivery {
	position: relative;
	margin-right: 2% !important;
	width: 96%;
	height: 70px;
	border: solid 1px #e0dfd9;
	color: red;
	font-size: 14px;
	border-radius: 10px;
}

.add_user_info .list .notes {
	position: relative;
	margin-right: 2% !important;
	width: 96%;
	height: 70px;
	border: solid 1px #e0dfd9;
	color: red;
	font-size: 14px;
	border-radius: 10px;
}

.add_user_info button.order {
	position: relative;
	width: 100%;
	margin-left: 5%;
	background-color: #ffa401;
	color: #fff;
	font-size: 15px;
	border-radius: 10px;
	height: 35px !important;
	min-height: 35px !important;
	line-height: 20px;
}



/* HTML 8 */

.add_user_info button.edit {
	position: relative;
	width: 100%;
	border: solid 1px #ffa401;
	margin-left: 5%;
	background-color: #fff;
	color: #ffa401;
	font-size: 15px;
	border-radius: 10px;
	height: 35px !important;
	min-height: 35px !important;
	line-height: 20px;
}

.add_user_info h4 {
	text-align: center;
	font-size: 20px;
	color: #012350;
}





/* HTML 10 */

.order_info .times div {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	line-height: 1;
	text-align: center;
}

.order_info .times div span:first-child{
	border-left: 1px solid black;
}

.order_info .times div:last-child span:first-child{
	border-style: none;
}

.order_info .times div span {
	font-size: 14px;
	color: #a39d9e;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}


/* HTML 6 */
.chat .messages {
	padding-top: 15px;
}

.chat .messages .message {
	position: relative;
	border-bottom:1px solid #e2e3e4;
	margin-bottom: 10px;
	padding: 0px 15px 10px 15px;
}

.chat .messages :last-child {
	border-style: none;
}

.chat .messages .message .content::after {
	clear: both;
}

.chat .messages .message img.avatar {
	width: 15%;
	border-radius: 100px;
	display: inline-block;
	float: right;
}

.chat .messages .message .content {
	display: inline-block;
	width: 85%;
	padding-right: 20px;
	position: relative;
}

.chat .messages .message .content .text {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #e2e3e4;
	background-color: #fff;
	padding-bottom: 10px;
}

.chat .messages .message .content .time {
	position: absolute;
	bottom: 5px;
	left: 10px;
	font-size: 8px;
}


